aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
autopep8==2.0.2
bandit==1.7.5
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
frozenlist==1.3.3
gitdb==4.0.10
GitPython==3.1.31
idna==3.4
Jinja2==3.1.2
markdown-it-py==2.2.0
MarkupSafe==2.1.3
mdurl==0.1.2
multidict==6.0.4
numpy==1.24.3
openai==0.27.8
pbr==5.11.1
pefile==2023.2.7
prettytable==3.7.0
pycodestyle==2.10.0
pycparser==2.21
Pygments==2.14.0
python-dateutil==2.8.2
python-magic==0.4.27
python-tlsh==4.5.0
pytz==2023.3
PyYAML==6.0
requests==2.31.0
rich==13.3.2
scipy==1.10.1
six==1.16.0
smmap==5.0.0
ssdeep==3.4
stevedore==5.0.0
termcolor==2.2.0
tqdm==4.65.0
tzdata==2023.3
urllib3==2.0.3
wcwidth==0.2.6
yarl==1.9.2
