autopep8==2.0.2
bandit==1.7.5
cffi==1.15.1
gitdb==4.0.10
GitPython==3.1.31
markdown-it-py==2.2.0
mdurl==0.1.2
pbr==5.11.1
pefile==2023.2.7
pycodestyle==2.10.0
pycparser==2.21
Pygments==2.14.0
python-magic==0.4.27
python-tlsh==4.5.0
PyYAML==6.0
rich==13.3.2
six==1.16.0
smmap==5.0.0
ssdeep==3.4
stevedore==5.0.0
termcolor==2.2.0
